html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
  -webkit-overflow-scrolling: auto;

  /* overscroll-behavior: none; */

  /* touch-action: none; */
    
  font-family: sans-serif;
}
/* subtle dot grid bg pattern */
body{
  background-color: #111;

  background-image:
    radial-gradient(
      circle,
      rgba(255,255,255,0.08) 1px,
      transparent 1px
    );

  background-size: 24px 24px;
}

/* control speed with js */
/* await new Promise(r => setTimeout(r, 250)); */
canvas {

  transition: clip-path 220ms ease;
  clip-path: inset(0 0 0 0);
}

canvas.is-wiping {
  clip-path: inset(100% 0% 0 0);
}



  .thumb-scroll {
    scrollbar-width: thin;
  }




.key-instructions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: system-ui, -apple-system, sans-serif;
  color: black;
  z-index: 10;
}

.key-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 34px;
  height: 28px;

  padding: 0 6px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);

  font-size: 11px;
  letter-spacing: 0.02em;
  color: white;
}

.label {
  opacity: 0.75;
}

/* hint arrow */
@keyframes arrowBounceDown {
  0%   { transform: translateY(0); }
  50%   { transform: translateY(50px); }
  75%   { transform: translateY(10px); }
  100%  { transform: translateY(100px); }
}

.arrow-bounce {
  animation: arrowBounceDown 5.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
