@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
body {
  @apply bg-white;
  padding: 0rem;
  font-family: var(--font-mono);
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none; /* IOS */
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1em;
}

@media screen and (min-width: 640px){
  body {
    padding: 2rem;
    font-family: var(--font-mono);
    overflow-x: hidden;
    overflow-y: scroll;
  } 
}


.loadedAni {
  animation: fadeit 1s ease-in;
}

@keyframes fadeit {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}


.load-more-btn {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(115%);
  }
}


.guestLoginbtnAni{
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    /* transform: scale(100%); */
  }
  50% {
    transform: translateY(0%);
    border: 2px solid white;
    /* transform: scaleY(103%); */
  }
  75% {
    /* transform: scaleX(110%); */
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
    /* transform: scaleY(103%); */
  }
}