@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
body {
  padding: 1rem;
  font-family: var(--font-mono);
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1em;
}


/* NOT BEING USED -> REFERENCE ONLY */
/* Conversions asssume a 16px base font size */
.btn {
  position: relative; /* make the button's position relative */
  background-color: #1A0123;
  padding-left: 24px; /* px-6 */
  padding-right: 24px; /* px-6 */
  color: white;
  font-size: 1.125rem; /* text-lg */
  text-align: center;
  cursor: pointer;
  transition: padding 0.15s ease-in-out;
}
.btn:hover {
  padding-left: 2.5rem; /* pl-10 */
  padding-right: 2.5rem; /* pr-10 */
}

.btn-outline {
  background-color: transparent;
  border-color: #1d1e23; /* border-slate-900 */
  border-width: 2px; /* border-2 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  font-size: 1.125rem; /* text-lg */
  color: #1d1e23; /* text-slate-900 */
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover {
  background-color: #1d1e23; /* hover:bg-slate-900 */
  color: #ffffff; /* hover:text-white */
}

/* sm: */
@media (min-width: 640px) {
  .btn {
    padding-inline: 48px; /* px-12 */
  }
}

/* md: */
@media (min-width: 768px) {
  .btn {
    padding-inline: 48px; /* px-12 */
    }
  } 

/* lg: */
@media (min-width: 1024px) {
  .btn {
    padding-inline: 48px; /* px-12 */
  }
} 
